<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.footapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".ChooseGame"
            android:label="@string/title_activity_choose_game"
            android:parentActivityName=".ChooseOrCreate"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.footapp.ChooseOrCreate" />
        </activity>
        <activity
            android:name=".FinalScreen"
            android:label="@string/final_screen_name"
            android:parentActivityName=".EditTeam">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.footapp.EditTeam" />
        </activity>
        <activity
            android:name=".EditTeam"
            android:label="@string/edit_team_screen_name"
            android:parentActivityName=".CreateGame">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.footapp.CreateGame" />
        </activity>
        <activity
            android:name=".CreateGame"
            android:label="@string/create_game_screen_name"
            android:parentActivityName=".ChooseOrCreate">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.footapp.ChooseOrCreate" />
        </activity>
        <activity
            android:name=".ChooseOrCreate"
            android:label="@string/choose_or_create_screen_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.footapp.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>